[flake8]
max-line-length = 120
max-arguments = 10
max-methods = 10
max-imports = 20
# max-jones-score not working
max-jones-score = 20
exclude = .git, __pycache__, .venv, .env, migrations, venv, alembic/*

application_import_names = core, tests, workers

per-file-ignores =
  */__init__.py: F401

# List of error codes
# https://wemake-python-styleguide.readthedocs.io/en/latest/pages/usage/violations/index.html
