[flake8]
max-line-length = 120
max-arguments = 10
max-methods = 10
max-imports = 20
# max-jones-score not working
max-jones-score = 20
exclude = .git, __pycache__, .venv, .env, migrations, venv, tools, alembic

require-plugins = flake8-bugbear, flake8-simplify, flake8-builtins, pep8-naming, flake8-import-order

application_import_names = core

extend-ignore =
    I201,
    B008

per-file-ignores =
  apps/info/services/covid,py: I100
  apps/store/permissions.py: I100

# List of error codes
# https://wemake-python-styleguide.readthedocs.io/en/latest/pages/usage/violations/index.html
